<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <div class="text-center drawer-title">
      <img class="w-50 h-100 test" src="../../assets/icon.png" alt="">
      <h1>Eduardo Gómez R.</h1>
      <h3>Desarrollador Frontend</h3>
    </div>
    <div class="drawer-left-content">
      <h4>Sobre Mi</h4>
      <p>
        Hola, mi nombre es Eduardo Gómez y soy un desarrollador frontend junior. Principalmente me dedico a desarrollar aplicaciones
        web utilizando el framework Angular. Además de eso, cuento también con conocimientos desarrollando APIs REST/RESTFUL en el 
        backend, utilizando principalment el framework NodeJS con Express. 

        En esta página, puedes ver una serie de proyectos personales que creé utilizando estas tecnologias. Estas aplicaciones se encuentran
        actualmente desplegadas en la plataforma cloud de Heroku. 
      </p>
    </div>asdf
  </mat-drawer>
  <mat-drawer-content class="pe-0">
    <div class="position-absolute div-bg">
    </div>
    <div class="position-absolute">
      <!-- CONTENT -->
      <router-outlet (activate)="onActivate($event)"></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>